<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.autismproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutismProject"
        tools:targetApi="31">
        <activity android:name=".Games.ShapesActivity"></activity>
        <activity android:name=".Games.WeekActivity" />
        <activity android:name=".Games.AlphabetActivity" />
        <activity android:name=".Games.NumbersActivity" />
        <activity android:name=".Games.ColorsActivity" />
        <activity android:name=".Games.PoemsActivity" />
        <activity
            android:name=".Games.GameMainAcitivty"
            android:exported="false" />
        <activity
            android:name=".Parent.AddNewItem"
            android:exported="false" />
        <activity
            android:name=".Parent.AddNewCategory"
            android:exported="false" />
        <activity
            android:name=".Parent.ParentClickBoard"
            android:exported="false" />
        <activity
            android:name=".VideoPlayer"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Parent.ParentVideo"
            android:exported="false" />
        <activity
            android:name=".Parent.CreateTask"
            android:exported="false" />
        <activity
            android:name=".Parent.ParentTasksActivity"
            android:exported="false" />
        <activity
            android:name=".Parent.ChildProfile"
            android:exported="false" />
        <activity
            android:name=".Parent.ParentHome"
            android:exported="false" />
        <activity
            android:name=".Child.ChildHome"
            android:exported="false" />
        <activity
            android:name=".Child.ChildRegister"
            android:exported="false" />
        <activity
            android:name=".Child.ChildLogin"
            android:exported="false" />
        <activity
            android:name=".Parent.ParentRegister"
            android:exported="false" />
        <activity
            android:name=".Parent.ParentLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>